.container {
	text-align: center;
	width: 800px;
	margin:  auto;
}
h1 { text-align: center } 
p { text-align: right }
#load-button, #reset-button { 
	margin-bottom: 10px;
	margin-left: 5px;
}
.box-task {
	width: 700px;
	background-color: lightgrey;
	margin: auto;
	margin-bottom: 5px;
}
#request, #response {
	background-color: lightskyblue;
	border: solid black 1px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.thumbnail {
	display: flex;

}
.thumbnail div {flex-wrap: wrap; align-content:  center; }